*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    font-size: 1.2rem;
    line-height: 1.6;
    color:#926239;
}

#showcase{
    background-image: url(../img/showcase.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0 1.2rem;
    text-align: center; 
}

#showcase h1{
    font-size: 3rem;
    line-height: 1.2;
}

#showcase p{
    font-size: 1.5rem;
    margin-top: 1rem;
}

#showcase .button{
    border:1px solid #929292;
    padding:0.6rem 1.3rem;
    border-radius: 10px;
    text-decoration: none;
    color: #926239;
    margin-top: 2rem;
}

#showcase .button:hover{
    background: #926239;
    color:#fff;
}



